.App {
  align-items: center;
  justify-content: center;
  display: grid;
}

.calculator {
  display: flex;
  flex-direction: column;
  width: auto;
  gap: 8px;
  height: 85%;
  align-items: center;
  justify-content: center;
  width: fit-content;
  background-color: #15152b;
  padding: 25px;
  color: #000000;
}.ç9o

.historic {
  grid-template-columns: 55px ;

}

.keycaps {
  display: grid;
  grid-template-columns: 55px 55px 55px 55px;
  grid-gap: 5px;
  padding: 5px;
}

.display {
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 5px;
  padding-left: 5px;
  height: 50px;
  background-color: white;
  width: 218px;
}
